<div class="container">
	<h1>About Coach Frase</h1>
	<div class="row">
		<div class="col-md-4">
			<img width="375" src="assets/images/jeff-headshot-1.jpg" alt="Coach Frase">
		</div>
		<div class="col-md-8">
			<p>
				Jeff Frase was a standout athlete at Olathe North High School. He went to Butler County Community College from high school
				where he started for 2 years on the infield and in the outfield. From BCCC, Jeff went to Fort Hays State University where
				he started in the outfield for 2 years. Upon completion of college, Jeff immediately started coaching at the high school
				level where he coached for the following 13 years. He as coached high school baseball at Olathe North, Shawnee Mission West,
				Blue Valley and Blue Valley Southwest (he even coached football at Shawnee Mission West). Coach Frase has also coached at
				every level of youth baseball from T-ball on up.
			</p>						
			<p>
				Jeff studied with the Frozen Ropes Hitting Academy personnel and was a previous owner/instructor at Next level Baseball for
				10 years. He as organized coaching clinics for the Olathe Youth Baseball program and started player instruction for Olathe
				Youth Baseball at the age of 18.
			</p>
			<p>
				Good fundamentals, building confidence and developing a personal relationship with students are all important aspects of the
				teaching process and vital to skill development. The skills that Jeff will be analyzing, teaching and improving include
				hitting, throwing, defense and base running.
			</p>
		</div>
	</div>

	<!-- <div class="row">

		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="assets/images/jeff-pitching.jpg" alt="Coach Frase pitches in the batting cage">
				<div class="caption">
					<h3>Owner/Instructor at Next Level Baseball - 10 years</h3>
					<p>
						Studied hitting techniques with many different college coaches at clinics and with instructors at the Frozen Ropes hitting
						academy (one of the largest in the country).
					</p>
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="assets/images/jeff-working-with-girl.jpg" alt="Coach Frase works with a student on hitting">
				<div class="caption">
					<h3>Coaching Experience</h3>
					<p>
						Coach Frase has over 20 years total coaching experience. He started working camps for Olathe Youth Baseball at age 18 and
						has held positions at the high school level with Olathe North, Shawnee Mission West, Blue Valley and Blue Valley Southwest.
						He also coached USA tryouts and USA team in St. Louis.
					</p>
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="assets/images/jeff-4-balls.jpg" alt="Coach Frase in his playing days">
				<div class="caption">
					<h3>As a Player</h3>
					<p>
						Jeff was a standout 3-year letter winner at Olathe North High School. He started for two years on the infield and outfield
						for Butler County Community College. He went on to start in the outfield for two more years at Fort Hays State University.
					</p>
				</div>
			</div>
		</div>

	</div> -->

</div>