<div class="container">
    <h1>Clinics</h1>
	<p>
		Group clinics are held every Sunday from 1pm to 2pm starting October 1, 2017 and going through 
		March with the focus alternating weekly between fielding and hitting.
	</p>
	<ul>
		<li>10 different stations</li>
		<li>Fast-paced, lots of repetitions and fundamental work</li>
		<li>20 spots available weekly</li>
		<li>Cost: $20</li>		
		<li><a href="#/contact">Contact Coach Frase</a> to secure a spot</li>
	</ul>
	
	<!-- TODO: Implement carousel
group-instruction.jpg
group-instruction-2.jpg
group-instruction-3.jpg
short-toss.jpg
individual-instruction.jpg
	-->
	
</div>