<!-- <img class="center-block" src="assets/images/bat-glove-ball-grass.jpg" alt="Total Release Baseball"> -->


<div class="jumbotron">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
					<!-- <img class="jumbotron-image-left" src="assets/images/jeff-headshot-1.jpg" alt="Coach Frase"> -->
					<img class="jumbotron-image-left" src="assets/images/bat-glove-ball-grass.jpg" alt="Total Release Baseball">
					<h1 class="jumbotron-title"><em>Total Release Baseball</em></h1>
				<p class="lead">
					We only fail when we quit.
				</p>
			</div>
		</div>
	</div>
</div>