<div class="container">
    <h1>Services &amp; Pricing</h1>
	<p>
		Total Release Baseball offers several services.
	</p>

	<h2>Clinics</h2>
	<p>
		Group clinics are held every Sunday from 1pm to 2pm starting October 1, 2017 and going through 
		March with the focus alternating weekly between fielding and hitting.
	</p>
	<ul>
		<li>10 different stations</li>
		<li>Fast-paced, lots of repetitions and fundamental work</li>
		<li>20 spots available weekly</li>
		<li>Cost: $20</li>		
		<li><a href="mailto:totalreleasebaseball@gmail.com?subject=Weekly%20Clinic%20Request&body=I%20am%20interested%20in%20the%20weekly%20clinic.">
			Email Coach Frase</a> to secure a spot</li>
	</ul>
	
	<h2>Individual Instruction</h2>
	<p>
		One-on-one instructional sessions are available during evenings and weekends.
	</p>
	<ul>
		<li>$45 - half-hour session</li>
		<li>$70 - full-hour session</li>
		<li>$350 - package of 10 half-hour sessions</li>
	</ul>

	<h2>Team Instruction</h2>
	<p>
		Team instructional sessions consisting of practice organization, practice management, practice instruction 
		and coaching suggestions are available during evenings and weekends.
	</p>
	<ul>
		<li>$60 - full-hour session</li>
	</ul>

	<h2>Facility Rental</h2>
	<p>
		Indoor and outdoor facilities can be rented for team practices. Check the schedule for 
		availability.
	</p>
</div>