<div class="jumbotron">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<img class="jumbotron-image-left" src="assets/images/jeff-headshot-1.jpg" alt="Coach Frase">
				<h1 class="jumbotron-title"><em>Total Release Baseball</em></h1>
				<p>
					Coach Jeff Frase has a passion for working with players of all ages and skill levels. He has worked with ages 3-23 and 
					teaches	with passion and fun to build confidence in players. Many of Coach's former players have gone on to enjoy great 
					careers	in college baseball. Students have 24-hour access to Coach Frase where he will field questions and even analyze 
					videos.
				</p>
				<p><a class="btn btn-primary btn-lg" routerLink="/about" role="button">More about Coach Frase</a></p>
			</div>
		</div>
	</div>
</div>